<div class="cart-container">
    <h2>🛒 Il tuo carrello</h2>

    <div class="cart-grid">
        <div *ngFor="let items of cartItems" class="product-card">
            <img [src]="items.productId.imageUrl" alt="{{ items.productId.name }}" class="product-image" />
            <h2 class="product-title">{{ items.productId.name }}</h2>
            <p class="product-description">{{ items.productId.description }}</p>
            <p class="product-price">€{{ items.productId.price }}</p>

            <label>Quantità:
                <input type="number" min="1" [(ngModel)]="items.quantity" (change)="updateQuantity(items.productId)" />
            </label>

            <button class="btn btn-danger" (click)="items.productId._id ? removeFromCart(items.productId._id) : null">Rimuovi</button>
        </div>
    </div>

    <div class="cart-summary">
        <h3>Totale: €{{ total | number:'1.2-2' }}</h3>
        <button class="btn btn-checkout">Procedi al Checkout</button>
    </div>
</div>
<!-- <pre>{{ cartItems | json }}</pre> -->